## 1 Add/Change/Remove elements in a dictionary

 For the following Python dictionary:
 
 ```python
 'Ralph Williams' : 'Football', 
 'Michael Tippett' : 'Basketball', 
 'Edward Elgar' : 'Baseball', 
 'Rebecca Clarke' : 'Netball', 
 'Ethel Smyth' : 'Badminton', 
 'Frank Bridge' : 'Rugby'
 ```
 
 * For the aboved dictionary, add 'Charles Duhigg': 'Volleyball'. Then output all of the map elements
 * Now remove 'Edward Elgar'. Output the map elements. Then output the map elements
 * Now change element with 'Charles Duhigg' to 'Swimming'. Output the map elements
 * Now output the length of current dictionary
 * Now use Python program to check if the dictionary has key 'Rebecca Clarke', if yes, print the following:
 
  Is "Rebecca Clarke" in dictionary? True
  
 * Now use Python program to check if the dictionary does NOT have 'donald trump', and your program should print the following
 
  Is "donald trump" NOT in dictionary? True

{'Ralph Williams': 'Football', 'Ethel Smyth': 'Badminton', 'Edward Elgar': 'Baseball', 'Frank Bridge': 'Rugby', 'Rebecca Clarke': 'Netball', 'Charles Duhigg': 'Volleyball', 'Michael Tippett': 'Basketball'}
{'Ralph Williams': 'Football', 'Ethel Smyth': 'Badminton', 'Frank Bridge': 'Rugby', 'Rebecca Clarke': 'Netball', 'Charles Duhigg': 'Volleyball', 'Michael Tippett': 'Basketball'}
{'Ralph Williams': 'Football', 'Ethel Smyth': 'Badminton', 'Frank Bridge': 'Rugby', 'Rebecca Clarke': 'Netball', 'Charles Duhigg': 'Swimming', 'Michael Tippett': 'Basketball'}
dictionary size is 6
Is "Rebecca Clarke" in dictionary? True
Is "donald trump" NOT in dictionary? True

## 2 Clone/Merge two dictionaries:

```python
 dict1 = {"house":"Haus","cat":"Katze","red":"rot"}
 dict2 = {"red":"rouge","blau":"bleu"}
```
 
 * Merge the aboved two dictionaries into a new dictionary, without changing dict1 and dict2. After the merging, output dict1, dict2 and the merged dictionary, so that you can verified that dict1 and dict2 are not changed.

In [45]:
dict1={"house":"Haus","cat":"Katze","red":"rot"}
 
dict2 = {"red":"rouge","blau":"bleu"}

dict1 = {'cat': 'Katze', 'house': 'Haus', 'red': 'rot'}
dict2 = {'blau': 'bleu', 'red': 'rouge'}
dictMerged = {'cat': 'Katze', 'house': 'Haus', 'blau': 'bleu', 'red': 'rouge'}

## 3 Dictionary to Lists

For the following dictionary: 
```python
 'Ralph Williams' : 'Football', 
 'Michael Tippett' : 'Basketball', 
 'Edward Elgar' : 'Baseball', 
 'Rebecca Clarke' : 'Netball', 
 'Ethel Smyth' : 'Badminton', 
 'Frank Bridge' : 'Rugby'
 ```
 
 * print all of the keys
 * print all of the values

['Ralph Williams', 'Ethel Smyth', 'Edward Elgar', 'Frank Bridge', 'Rebecca Clarke', 'Michael Tippett']
['Football', 'Badminton', 'Baseball', 'Rugby', 'Netball', 'Basketball']

## 4 Python String Review
### 4.1

Use just one line of code, print the following strings, one line for each word. Your output should be like this:

one

two

three

one
two
three

### 4.2 
Remove the space at the beginning and end of the following sentence.
```python
"       Taekwondo is great!        "
```

In [2]:
word = "       Taekwondo is great!        "
print(word) # modify this line

Taekwondo is great!

### 4.3 
A gas station wants to list its gas price with two digits of decimals. If the gas price is $3.4 per gallon. Modify the following code so that it outputs like this:

The gas price is $3.40 per gallon

In [11]:
price = 3.4
print("The gas price is %f per gallon" % price) # <-- Modify this line

The gas price is 3.400000 per gallon

### 4.4
Output the following integer in 5 digits. Add '0' to the front of the integer if it has less than 5 digits.

Fro example: 123 should be printed as 00123

In [1]:
num = 123 
print(num)   # <-- Modify this line

00123