In [1]:
# import findspark
# findspark.init()
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *

spark = SparkSession\
    .builder\
    .appName("chapter-19-perf")\
    .getOrCreate()

SPARK_BOOK_DATA_PATH = "/home/gong/spark/books/Spark-The-Definitive-Guide"

In [5]:
file_path = SPARK_BOOK_DATA_PATH + "/data/flight-data/csv/2015-summary.csv"
# Original loading code that does *not* cache DataFrame
DF1 = spark.read.format("csv")\
  .option("inferSchema", "true")\
  .option("header", "true")\
  .load(file_path)

In [6]:
DF1.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [7]:
%%time
DF2 = DF1.groupBy("DEST_COUNTRY_NAME").count().collect()

CPU times: user 11.2 ms, sys: 2.36 ms, total: 13.5 ms
Wall time: 2.04 s

In [8]:
%%time
DF3 = DF1.groupBy("ORIGIN_COUNTRY_NAME").count().collect()

CPU times: user 6.67 ms, sys: 0 ns, total: 6.67 ms
Wall time: 885 ms

In [11]:
DF3

[Row(ORIGIN_COUNTRY_NAME='Paraguay', count=1),
 Row(ORIGIN_COUNTRY_NAME='Russia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Anguilla', count=1),
 Row(ORIGIN_COUNTRY_NAME='Senegal', count=1),
 Row(ORIGIN_COUNTRY_NAME='Sweden', count=1),
 Row(ORIGIN_COUNTRY_NAME='Kiribati', count=1),
 Row(ORIGIN_COUNTRY_NAME='Guyana', count=1),
 Row(ORIGIN_COUNTRY_NAME='Philippines', count=1),
 Row(ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(ORIGIN_COUNTRY_NAME='Malaysia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Fiji', count=1),
 Row(ORIGIN_COUNTRY_NAME='Turkey', count=1),
 Row(ORIGIN_COUNTRY_NAME='Germany', count=1),
 Row(ORIGIN_COUNTRY_NAME='Jordan', count=1),
 Row(ORIGIN_COUNTRY_NAME='Palau', count=1),
 Row(ORIGIN_COUNTRY_NAME='Turks and Caicos Islands', count=1),
 Row(ORIGIN_COUNTRY_NAME='France', count=1),
 Row(ORIGIN_COUNTRY_NAME='Greece', count=1),
 Row(ORIGIN_COUNTRY_NAME='British Virgin Islands', count=1),
 Row(ORIGIN_COUNTRY_NAME='Taiwan', count=1),
 Row(ORIGIN_COUNTRY_NAME='Dominica', count=1),
 Row(ORIGIN_COUNTRY_NAME='Argentina', count=1),
 Row(ORIGIN_COUNTRY_NAME='Angola', count=1),
 Row(ORIGIN_COUNTRY_NAME='Belgium', count=1),
 Row(ORIGIN_COUNTRY_NAME='Ecuador', count=1),
 Row(ORIGIN_COUNTRY_NAME='Qatar', count=1),
 Row(ORIGIN_COUNTRY_NAME='Finland', count=1),
 Row(ORIGIN_COUNTRY_NAME='Nicaragua', count=1),
 Row(ORIGIN_COUNTRY_NAME='Ghana', count=1),
 Row(ORIGIN_COUNTRY_NAME='Peru', count=1),
 Row(ORIGIN_COUNTRY_NAME='United States', count=132),
 Row(ORIGIN_COUNTRY_NAME='India', count=1),
 Row(ORIGIN_COUNTRY_NAME='China', count=1),
 Row(ORIGIN_COUNTRY_NAME='Curacao', count=1),
 Row(ORIGIN_COUNTRY_NAME='Kuwait', count=1),
 Row(ORIGIN_COUNTRY_NAME='Malta', count=1),
 Row(ORIGIN_COUNTRY_NAME='Marshall Islands', count=1),
 Row(ORIGIN_COUNTRY_NAME='Chile', count=1),
 Row(ORIGIN_COUNTRY_NAME='Martinique', count=1),
 Row(ORIGIN_COUNTRY_NAME='Cayman Islands', count=1),
 Row(ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Nigeria', count=1),
 Row(ORIGIN_COUNTRY_NAME='Bolivia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Italy', count=1),
 Row(ORIGIN_COUNTRY_NAME='Suriname', count=1),
 Row(ORIGIN_COUNTRY_NAME='Lithuania', count=1),
 Row(ORIGIN_COUNTRY_NAME='Norway', count=1),
 Row(ORIGIN_COUNTRY_NAME='Spain', count=1),
 Row(ORIGIN_COUNTRY_NAME='Cuba', count=1),
 Row(ORIGIN_COUNTRY_NAME='Guadeloupe', count=1),
 Row(ORIGIN_COUNTRY_NAME='Denmark', count=1),
 Row(ORIGIN_COUNTRY_NAME='Barbados', count=1),
 Row(ORIGIN_COUNTRY_NAME='Ireland', count=1),
 Row(ORIGIN_COUNTRY_NAME='Thailand', count=1),
 Row(ORIGIN_COUNTRY_NAME='Morocco', count=1),
 Row(ORIGIN_COUNTRY_NAME='Cape Verde', count=1),
 Row(ORIGIN_COUNTRY_NAME='Panama', count=1),
 Row(ORIGIN_COUNTRY_NAME='Hong Kong', count=1),
 Row(ORIGIN_COUNTRY_NAME='Venezuela', count=1),
 Row(ORIGIN_COUNTRY_NAME='Ukraine', count=1),
 Row(ORIGIN_COUNTRY_NAME='Saint Barthelemy', count=1),
 Row(ORIGIN_COUNTRY_NAME='Iceland', count=1),
 Row(ORIGIN_COUNTRY_NAME='Israel', count=1),
 Row(ORIGIN_COUNTRY_NAME='Saint Kitts and Nevis', count=1),
 Row(ORIGIN_COUNTRY_NAME='French Polynesia', count=1),
 Row(ORIGIN_COUNTRY_NAME='South Korea', count=1),
 Row(ORIGIN_COUNTRY_NAME='Gibraltar', count=1),
 Row(ORIGIN_COUNTRY_NAME='Cyprus', count=1),
 Row(ORIGIN_COUNTRY_NAME='Bonaire, Sint Eustatius, and Saba', count=1),
 Row(ORIGIN_COUNTRY_NAME='Uruguay', count=1),
 Row(ORIGIN_COUNTRY_NAME='Mexico', count=1),
 Row(ORIGIN_COUNTRY_NAME='Aruba', count=1),
 Row(ORIGIN_COUNTRY_NAME='Estonia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Georgia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Montenegro', count=1),
 Row(ORIGIN_COUNTRY_NAME='Indonesia', count=1),
 Row(ORIGIN_COUNTRY_NAME='The Bahamas', count=1),
 Row(ORIGIN_COUNTRY_NAME='Guatemala', count=1),
 Row(ORIGIN_COUNTRY_NAME='Azerbaijan', count=1),
 Row(ORIGIN_COUNTRY_NAME='Grenada', count=1),
 Row(ORIGIN_COUNTRY_NAME='Sint Maarten', count=1),
 Row(ORIGIN_COUNTRY_NAME='Federated States of Micronesia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Liberia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Honduras', count=1),
 Row(ORIGIN_COUNTRY_NAME='Trinidad and Tobago', count=1),
 Row(ORIGIN_COUNTRY_NAME='Saudi Arabia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Namibia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Switzerland', count=1),
 Row(ORIGIN_COUNTRY_NAME='Ethiopia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Jamaica', count=1),
 Row(ORIGIN_COUNTRY_NAME='Latvia', count=1),
 Row(ORIGIN_COUNTRY_NAME='United Arab Emirates', count=1),
 Row(ORIGIN_COUNTRY_NAME='Saint Lucia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Canada', count=1),
 Row(ORIGIN_COUNTRY_NAME='Samoa', count=1),
 Row(ORIGIN_COUNTRY_NAME='Czech Republic', count=1),
 Row(ORIGIN_COUNTRY_NAME='Cook Islands', count=1),
 Row(ORIGIN_COUNTRY_NAME='Brazil', count=1),
 Row(ORIGIN_COUNTRY_NAME='Belize', count=1),
 Row(ORIGIN_COUNTRY_NAME='Antigua and Barbuda', count=1),
 Row(ORIGIN_COUNTRY_NAME='Dominican Republic', count=1),
 Row(ORIGIN_COUNTRY_NAME='Japan', count=1),
 Row(ORIGIN_COUNTRY_NAME='Luxembourg', count=1),
 Row(ORIGIN_COUNTRY_NAME='New Zealand', count=1),
 Row(ORIGIN_COUNTRY_NAME='Greenland', count=1),
 Row(ORIGIN_COUNTRY_NAME='Haiti', count=1),
 Row(ORIGIN_COUNTRY_NAME='Poland', count=1),
 Row(ORIGIN_COUNTRY_NAME='Portugal', count=1),
 Row(ORIGIN_COUNTRY_NAME='Papua New Guinea', count=1),
 Row(ORIGIN_COUNTRY_NAME='Australia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Romania', count=1),
 Row(ORIGIN_COUNTRY_NAME='Bulgaria', count=1),
 Row(ORIGIN_COUNTRY_NAME='Austria', count=1),
 Row(ORIGIN_COUNTRY_NAME='Costa Rica', count=1),
 Row(ORIGIN_COUNTRY_NAME='Egypt', count=1),
 Row(ORIGIN_COUNTRY_NAME='El Salvador', count=1),
 Row(ORIGIN_COUNTRY_NAME='South Africa', count=1),
 Row(ORIGIN_COUNTRY_NAME='Bermuda', count=1),
 Row(ORIGIN_COUNTRY_NAME='Bahrain', count=1),
 Row(ORIGIN_COUNTRY_NAME='Colombia', count=1),
 Row(ORIGIN_COUNTRY_NAME='Hungary', count=1),
 Row(ORIGIN_COUNTRY_NAME='Pakistan', count=1),
 Row(ORIGIN_COUNTRY_NAME='United Kingdom', count=1),
 Row(ORIGIN_COUNTRY_NAME='Vietnam', count=1),
 Row(ORIGIN_COUNTRY_NAME='Netherlands', count=1)]

In [9]:
%%time
DF4 = DF1.groupBy("count").count().collect()

CPU times: user 4.13 ms, sys: 1.41 ms, total: 5.54 ms
Wall time: 805 ms

In [17]:
# COMMAND ----------

DF1.cache()

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: int]

In [18]:
%%time
DF1.count()

CPU times: user 1.44 ms, sys: 233 µs, total: 1.67 ms
Wall time: 290 ms

256

In [19]:
%%time
DF2 = DF1.groupBy("DEST_COUNTRY_NAME").count().collect()

CPU times: user 4.64 ms, sys: 3.58 ms, total: 8.22 ms
Wall time: 657 ms

In [20]:
%%time
DF3 = DF1.groupBy("ORIGIN_COUNTRY_NAME").count().collect()

CPU times: user 7 ms, sys: 0 ns, total: 7 ms
Wall time: 512 ms

In [22]:
DF4 = DF1.groupBy("count").count().collect()

In [23]:
DF4

[Row(count=31, count=1),
 Row(count=2025, count=1),
 Row(count=588, count=1),
 Row(count=53, count=1),
 Row(count=853, count=1),
 Row(count=362, count=1),
 Row(count=1468, count=1),
 Row(count=155, count=1),
 Row(count=108, count=1),
 Row(count=211, count=1),
 Row(count=34, count=1),
 Row(count=193, count=2),
 Row(count=126, count=2),
 Row(count=115, count=1),
 Row(count=772, count=1),
 Row(count=28, count=2),
 Row(count=183, count=1),
 Row(count=1496, count=1),
 Row(count=300, count=1),
 Row(count=332, count=1),
 Row(count=26, count=2),
 Row(count=27, count=1),
 Row(count=44, count=3),
 Row(count=236, count=1),
 Row(count=329, count=1),
 Row(count=12, count=5),
 Row(count=230, count=1),
 Row(count=225, count=1),
 Row(count=246, count=1),
 Row(count=346, count=1),
 Row(count=111, count=1),
 Row(count=8399, count=1),
 Row(count=370002, count=1),
 Row(count=827, count=1),
 Row(count=152, count=1),
 Row(count=185, count=1),
 Row(count=305, count=1),
 Row(count=325, count=2),
 Row(count=955, count=1),
 Row(count=660, count=1),
 Row(count=935, count=1),
 Row(count=259, count=1),
 Row(count=1, count=25),
 Row(count=7140, count=1),
 Row(count=442, count=1),
 Row(count=13, count=8),
 Row(count=6, count=1),
 Row(count=3, count=7),
 Row(count=867, count=1),
 Row(count=40, count=3),
 Row(count=20, count=3),
 Row(count=1353, count=1),
 Row(count=139, count=1),
 Row(count=920, count=1),
 Row(count=776, count=1),
 Row(count=235, count=1),
 Row(count=266, count=1),
 Row(count=268, count=1),
 Row(count=5, count=1),
 Row(count=279, count=1),
 Row(count=258, count=1),
 Row(count=19, count=3),
 Row(count=1420, count=1),
 Row(count=397, count=1),
 Row(count=64, count=1),
 Row(count=117, count=1),
 Row(count=1048, count=1),
 Row(count=41, count=2),
 Row(count=154, count=1),
 Row(count=15, count=5),
 Row(count=43, count=3),
 Row(count=666, count=1),
 Row(count=179, count=1),
 Row(count=61, count=1),
 Row(count=127, count=2),
 Row(count=318, count=1),
 Row(count=107, count=1),
 Row(count=202, count=1),
 Row(count=619, count=1),
 Row(count=35, count=1),
 Row(count=310, count=1),
 Row(count=290, count=1),
 Row(count=986, count=1),
 Row(count=217, count=1),
 Row(count=4, count=3),
 Row(count=59, count=3),
 Row(count=7187, count=1),
 Row(count=161, count=1),
 Row(count=39, count=2),
 Row(count=23, count=1),
 Row(count=176, count=1),
 Row(count=130, count=1),
 Row(count=136, count=1),
 Row(count=314, count=1),
 Row(count=465, count=1),
 Row(count=438, count=1),
 Row(count=69, count=2),
 Row(count=129, count=1),
 Row(count=63, count=2),
 Row(count=1970, count=1),
 Row(count=50, count=1),
 Row(count=952, count=1),
 Row(count=38, count=1),
 Row(count=320, count=1),
 Row(count=181, count=1),
 Row(count=510, count=1),
 Row(count=80, count=1),
 Row(count=25, count=3),
 Row(count=24, count=1),
 Row(count=70, count=1),
 Row(count=62, count=3),
 Row(count=121, count=1),
 Row(count=8483, count=1),
 Row(count=1336, count=1),
 Row(count=226, count=1),
 Row(count=21, count=2),
 Row(count=1548, count=1),
 Row(count=335, count=1),
 Row(count=32, count=2),
 Row(count=90, count=1),
 Row(count=60, count=1),
 Row(count=382, count=1),
 Row(count=608, count=1),
 Row(count=712, count=1),
 Row(count=414, count=1),
 Row(count=141, count=1),
 Row(count=145, count=1),
 Row(count=56, count=1),
 Row(count=109, count=1),
 Row(count=228, count=1),
 Row(count=478, count=1),
 Row(count=188, count=1),
 Row(count=58, count=1),
 Row(count=33, count=1),
 Row(count=508, count=1),
 Row(count=83, count=2),
 Row(count=561, count=1),
 Row(count=14, count=3),
 Row(count=344, count=1),
 Row(count=342, count=1),
 Row(count=123, count=1),
 Row(count=42, count=2),
 Row(count=119, count=1),
 Row(count=466, count=1),
 Row(count=337, count=1),
 Row(count=2, count=11),
 Row(count=201, count=1),
 Row(count=294, count=1),
 Row(count=118, count=1),
 Row(count=30, count=3),
 Row(count=313, count=1),
 Row(count=873, count=1),
 Row(count=174, count=1),
 Row(count=153, count=1),
 Row(count=420, count=1),
 Row(count=18, count=1),
 Row(count=74, count=1),
 Row(count=138, count=1),
 Row(count=180, count=1),
 Row(count=134, count=4),
 Row(count=407, count=1),
 Row(count=36, count=1)]

In [24]:
DF1.is_cached

True

In [25]:
DF1.cache?