In [1]:
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as F
from pyspark.sql.types import *

spark = SparkSession\
    .builder\
    .appName("spark-guide-book")\
    .getOrCreate()

In [ ]:
df = spark.range(500).toDF("number")

In [3]:
df.select(df["number"] + 10).show(5)

+-------------+
|(number + 10)|
+-------------+
|           10|
|           11|
|           12|
|           13|
|           14|
+-------------+
only showing top 5 rows

In [4]:
df.select(F.col("number") * 10).show(5)

+-------------+
|(number * 10)|
+-------------+
|            0|
|           10|
|           20|
|           30|
|           40|
+-------------+
only showing top 5 rows

In [5]:
spark.range(2).collect()

[Row(id=0), Row(id=1)]

In [6]:
from pyspark.sql.types import *
b = ByteType()

In [7]:
b

ByteType