In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(10, 2), columns=list('ab'))
df.query('a>b')

          a         b
0  1.161421  0.704808
2 -1.141271 -2.034512
3  0.334460 -0.250496
8 -0.329400 -2.141528
9  1.624171 -0.150250